ul.tabUl{
    width: 100%;
    background-image: url(../../img/bg_footer.png);
    display: flex;
    display: -webkit-flex;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    li{
        width: .9375rem;
        height: .49rem;
        font-size: .1rem;
        text-align: center;
        line-height: .25rem;
        position: relative;
        a{
            display: block;
            width: .68rem;
            height: .49rem;
            color: #202028;
            margin-left: .13rem;
            padding-top: .05rem;
        }
        span.icon{
            width: .21rem;
            height: .23rem;
            margin: 0 auto;
            background-size: 100% 100%;
        }
        span.js_icon{
            background-image: url(../../img/icon_jishi_nor.png);
        }
        span.kc_icon{
            background-image: url(../../img/icon_kuangchii_nor.png);
        }
        span.jy_icon{
            background-image: url(../../img/icon_jiaoyi_nor.png);
        }
        span.my_icon{
            background-image: url(../../img/icon_wode_nor.png);
        }
    }
    li.active::before{
        content: "";
        width: 0; 
        height: 0; 
        border-bottom: .05rem solid #2d2316; 
        border-left: .05rem solid transparent;
        position: absolute;
        left: .08rem;
        top: -.05rem;
    }
    li.active{
        a{
            height: .54rem;
            color: #cb9851;
            background-image: url(../../img/tab_hot.png);
            margin-top: -.05rem;
            padding-top: .1rem;
        }
        span.js_icon{
            background-image: url(../../img/icon_jishi_hot.png);
        }
        span.kc_icon{
            background-image: url(../../img/icon_kuangchii_hot.png);
        }
        span.jy_icon{
            background-image: url(../../img/icon_jiaoyi_hot.png);
        }
        span.my_icon{
            background-image: url(../../img/icon_wode_hot.png);
        }
        
    }
} 