.pool_overview {
  height: 1.265rem;
  margin: .05rem 0;
  background-image: url(../../img/bg_kuang_kuangji.png);
  background-repeat: no-repeat;
  background-size: 100%; }
  .pool_overview div {
    flex-grow: 1;
    padding: .3rem .4rem; }
    .pool_overview div p {
      line-height: .2rem;
      text-align: center; }
    .pool_overview div p.fc_yellow {
      line-height: .4rem; }

.mineralItems {
  flex-direction: column;
  padding-bottom: .4rem;
  margin-top: .1rem; }
  .mineralItems li {
    text-align: left;
    border: .01rem solid #cb9851;
    border-radius: .05rem;
    padding: .1rem;
    margin-top: .1rem; }
    .mineralItems li div {
      flex-direction: row;
      font-size: .12rem;
      color: white; }
      .mineralItems li div div {
        flex-grow: 1; }
        .mineralItems li div div img {
          width: .43rem;
          height: .43rem;
          margin: .025rem 0 0; }
        .mineralItems li div div p {
          line-height: .25rem; }

.dlgZtMessage, .dlgMessage {
  width: 2.76rem;
  height: 2.3rem;
  background: url(../../img/bg_tankuang.png) no-repeat 100% 100%;
  margin-left: -1.4rem;
  margin-top: -1rem; }
  .dlgZtMessage ul, .dlgMessage ul {
    flex-direction: column; }
    .dlgZtMessage ul li, .dlgMessage ul li {
      color: white;
      font-size: .125rem;
      line-height: .35rem; }

.dlgMessage div {
  font-size: .16rem;
  color: white;
  height: .22rem;
  line-height: .22rem;
  margin-top: .2rem; }

.dlgMessage span {
  display: inline-block; }

.dlgMessage span.label {
  width: 20%; }

.dlgMessage span.message {
  width: 57%;
  text-indent: .05rem;
  border: .01rem solid #cb9851; }

.dlgMessage span.btn {
  width: 18%;
  font-size: .12rem;
  float: right;
  background-color: #352f1b;
  border: .01rem solid #cb9851; }

.warningDlg {
  width: 2.17rem;
  height: .35rem;
  line-height: .35rem;
  text-align: center;
  border-radius: .1rem;
  background-color: rgba(201, 169, 110, 0.75);
  margin-left: -1.085rem; }
