ul.tabUl {
  width: 100%;
  background-image: url(../../img/bg_footer.png);
  display: flex;
  display: -webkit-flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100; }
  ul.tabUl li {
    width: .9375rem;
    height: .49rem;
    font-size: .1rem;
    text-align: center;
    line-height: .25rem;
    position: relative; }
    ul.tabUl li a {
      display: block;
      width: .68rem;
      height: .49rem;
      color: #202028;
      margin-left: .13rem;
      padding-top: .075rem; }
    ul.tabUl li span.icon {
      width: .19rem;
      height: .19rem;
      margin: 0 auto;
      background-size: 100% 100%; }
    ul.tabUl li span.js_icon {
      background-image: url(../../img/icon_js.png); }
    ul.tabUl li span.kc_icon {
      background-image: url(../../img/icon_kc.png); }
    ul.tabUl li span.jy_icon {
      background-image: url(../../img/icon_jy.png); }
    ul.tabUl li span.my_icon {
      background-image: url(../../img/icon_wode_nor.png); }
  ul.tabUl li.active::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: .05rem solid #2d2316;
    border-left: .05rem solid transparent;
    position: absolute;
    left: .08rem;
    top: -.05rem; }
  ul.tabUl li.active a {
    height: .54rem;
    color: #cb9851;
    background-image: url(../../img/tab_hot.png);
    margin-top: -.05rem;
    padding-top: .125rem; }
  ul.tabUl li.active span.js_icon {
    background-image: url(../../img/icon_jishi_hot.png); }
  ul.tabUl li.active span.kc_icon {
    background-image: url(../../img/icon_kuangchi_hot.png); }
  ul.tabUl li.active span.jy_icon {
    background-image: url(../../img/icon_jiaoyi_hot.png); }
  ul.tabUl li.active span.my_icon {
    background-image: url(../../img/icon_wode_hot.png); }
